@import "./assets/theme.scss";
html {
  padding: 0;
  margin: 0;
}
body, h1, h2, div, main, ul ,li {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.page_container{
  padding: 1rem;
}
